.navbar {
  min-height: 72px;
}

.navbar-brand {
  font-size: 1.4rem;
}

.nav-link {
  font-weight: 500;
  color: #333;
}

.nav-link:hover,
.nav-link.active {
  color: #0d6efd;
}

/* Mobile improvements */
@media (max-width: 991px) {
  .navbar-collapse {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 10px;
  }
}
.nav-link.active {
  color: #0d6efd;
  font-weight: 600;
}
.nav-custom{
    position: absolute;
    z-index: 9999;
    top: 0;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
}